@import "normalize.scss";

$darkBlue: #34495E;
$red: #E74C3C;
$green: #1BBC9B;
#main-container
{
  width: 100%;
}
#canvasContainer
{
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}
#playField
{
  //background-color: #ff545d;
  color: #79ff85;
  // background:url("../images/pixelBG2.jpg")
}
#gameInfoContainer
{

    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
   // background-color: blue;
}
.col_3
  {
    width: 32%;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
  }
.col_12
{
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}
.button
{
  transition: all 0.3s ease;
 // display: none;
  justify-content: center;
  align-items:center;
  height: 50px;
  width: 200px;
  text-align: center;
  color: $darkBlue;
  border: 1px solid $darkBlue;
}
.button:hover
{
  background-color: lighten($darkBlue,10%);
  color: white;
  cursor: pointer;
}
.button:active{
  background-color: $darkBlue;
}
.health-bar-container{
  width: 100%;
  border: 1px solid $green;
  height: 15px;
}
#health-bar{
  background-color: $red;
  height: 15px;
}
.left-corner{
  position: absolute;
  top: 20px;
  left: 160px;
}
.info{
  display: inline-block;
  color: $green;
  font-size: 30px;
  margin: 0;
}
#nextLevel{
  display: none;
}
